<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <a routerLink="/page-1" class="list-item">
                <em class="material-icons">bookmark</em>
                this is a test item
            </a>
            <a routerLink="/page-2" class="list-item">
                <em class="material-icons">bookmark</em>
                this is a test item
            </a>
            <a routerLink="/page-3" class="list-item">
                <em class="material-icons">bookmark</em>
                this is a test item
            </a>
            <a routerLink="/page-4" class="list-item">
                <em class="material-icons">bookmark</em>
                this is a test item
            </a>
            <a class="list-item">
                <em class="material-icons">bookmark</em>
                this is a test item
            </a>
        </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
    
</div>